################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InMag-GST/InMag V.16/bin/Debug
InMag-GST/InMag V.16/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/InMag-GST/InMag V.16/obj/Debug
