<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings/>
  <appSettings>
    <add key="Server" value="DESKTOP-T4CEII2\SQLEXPRESS"/>
    <add key="DB" value="Inventory_GST_Banana"/>
    <add key="psd" value="INS"/>
    <add key="default_user_id" value="1"/>
    <add key="default_user" value="General"/>
    <add key="SalesReport" value="\Reports\rptBillBanana.rpt"/>
    <add key="DefaultCreditType" value="Credit"/>
    <add key="App_Type" value="Clients"/>
    <add key="Backup_Location" value="G:\SHAFEEQU\Projects\InMag GST\InMag-GST"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
